@{
	ViewBag.Title = "Manage Sites On IIS";
}

<h2>Manage Sites</h2>
<table class="table table-responsive">
	<thead>
		<tr>
			<td>Site</td>
			<td>Binding Info</td>
		</tr>
	</thead>
	<tbody>
		@foreach (var x in ViewBag.SiteList)
		{
			<tr>
				<td>
					<span class="SiteName">@x.SiteName</span> <span title="Add New Binding" class='glyphicon glyphicon-plus AddBinding' data-toggle='modal' data-target='#myModal' onclick='AddNewBinding(@x.SiteID,"@x.SiteName.Trim()")'></span>
				</td>
				<td>
					@{
						string[] times = (x.Bindings).Split('|');
						foreach (var z in times)
						{
							if (z != " ")
							{
								<a href='@z'>@z</a><span title='Delete Binding : @z' data-val='' class='IndexAble glyphicon glyphicon-trash' onclick='RemoveUrl("@x.SiteName","@z.ToLower()")'></span><br/>
							}
						}
					}
				</td>
			</tr>

		}
	</tbody>
</table>

<div aria-hidden="true" id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modal Header</h4>
			</div>
			<div class="modal-body">
                <div class="form-horizontal">
                    <div style="display:none;" class="form-group">
                        <div class="col-md-10">
                            <input class="form-control" type="text" id="SiteID" name="SiteID" value="" placeholder="Site ID" hidden disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input class="form-control" type="text" id="Site" name="Site" value="" placeholder="Site Name" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input class="form-control" type="text" id="Binding" name="Binding To Add" value="" placeholder="Binding to add" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input class="form-control" type="text" id="Proto" name="Proto" value="" placeholder="Protocol" />
                        </div>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
				<span class="btn btn-success" onclick="AddNewSSLBindingInfo();">Add New Binding</span>
				<button type="button" class="btn btn-default closeModal" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>


@section Scripts {
	<script>
		$(function () { IndexMe() });
		var index = 0;
		function IndexMe() {
			$('.IndexAble').each(function () { $(this).attr("data-val", index) });
			index++;
		}
		function RemoveUrl(SiteName, Bindings) {
			var url = '/ManageSites/DeleteBindings';
			var formData = { 'hostname': Bindings.replace("http://", ""), 'sitename': SiteName };
			$.post(url, formData, function (data) {
				alert(data);
			}).fail(function (data) {
				alert(data);
			}).always(function () {
				$('.CreateSiteBtn').removeClass("disabled");
			});
		}
		function AddNewBinding(SiteID,SiteName) {
			$("#Site").val(SiteName);
            $("#SiteID").val(SiteID);
		}
        function AddNewBindingInfo() {
            if ($("#Proto").val() == "https") {

                AddNewSSLBindingInfo()
            } else {
     
			var url = '/ManageSites/AddBindings';
			var formData = { 'siteToAddBinding': $("#Site").val(), 'BindingToAdd': $("#Binding").val(), 'Proto': $("#Proto").val() };
			$.post(url, formData, function (data) {
				$('.closeModal').trigger('click');
				alert(data);
			}).fail(function (data) {
				alert(data);
			}).always(function () {

                    });
            }
        }
        function AddNewSSLBindingInfo() {
            var url = '/ManageSites/AddSSLBindings';
            var formData = { "SiteID": $("#SiteID").val(),'BindingToAdd': $("#Binding").val() };
            $.post(url, formData, function (data) {
                $('.closeModal').trigger('click');
                alert(data);
            }).fail(function (data) {
                alert(data);
            }).always(function () {

            });
        }
	</script>
}

